.Wheels {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 19px 24px;
  background-color: #fff;
  &.Wheels--seven {
    height: 216px;
  }
  &.Wheels--nine {
    height: 272px;
  }
}

.Wheels__mark {
  position: absolute;
  top: 50%;
  left: 24px;
  width: calc(100% - 48px);
  height: 38px;
  margin-top: -19px;
  border-radius: 8px;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.04);
}

@media (prefers-color-scheme: dark) {
  .Wheels {
    background-color: #100f0f;
  }

  .Wheels__mark {
    background-color: rgba(255, 255, 255, 0.06);
  }
}
