.WheelsList {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 19px;
    z-index: 1;
    pointer-events: none;
  }
  &::before {
    top: 0;
    background: linear-gradient(#ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }

  ul {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    will-change: transform;
    li {
      position: absolute;
      top: 50%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 38px;
      margin-top: -19px;
      backface-visibility: hidden;
      user-select: none;
      &.WheelsList--active {
        p {
          color: #120c0c;
        }
      }
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        pointer-events: none;
        font-size: 23px;
        line-height: 38px;
        color: rgba(60, 57, 57, 0.5);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .WheelsList {
    &::before {
      background: linear-gradient(#100f0f 0%, rgba(255, 255, 255, 0) 100%);
    }
    &::after {
      background: linear-gradient(rgba(255, 255, 255, 0) 0%, #100f0f 100%);
    }
    ul {
      li {
        &.WheelsList--active {
          p {
            color: #fcfcfc;
          }
        }
        p {
          color: rgba(250, 250, 250, 0.4);
        }
      }
    }
  }
}
