@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/NotoSansKR-Light.otf') format('opentype'),
    url('../fonts/NotoSansKR-Light.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/NotoSansKR-Regular.otf') format('opentype'),
    url('../fonts/NotoSansKR-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/NotoSansKR-Medium.otf') format('opentype'),
    url('../fonts/NotoSansKR-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/NotoSansKR-Bold.otf') format('opentype'),
    url('../fonts/NotoSansKR-Bold.woff') format('woff');
}
